.title-container {
  width: 1000px;
  text-align: center;
}

.chart-container {
  border: 1px solid;
  margin-bottom: 20px;
  width: 45%;
  text-align: center;
  box-sizing: border-box;
}

.chart-container canvas {
  display: inline-block;
  margin: 0 auto;
}

.table-container {
  border: 1px solid;
  margin-bottom: 20px;
  padding: 10px;
  width: 1000px;
  text-align: center;
  color: white;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-container th,
.table-container td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
