.title-container {
  width: 100%;
  text-align: center;
}

.web-dark .title-container {
  color: white;
}

.chart-container {
  border: 1px solid;
  min-height: 300px;
  max-height: 50vh;
  min-width: 300px;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
}

.web-dark .chart-container,
.vscode-dark .chart-container {
  border-color: #ffffff;
}

.vscode-dark .table-container,
.web-dark .table-container {
  border-color: #ffffff;
}

.pie {
  flex-grow: 0;
  width: 100%;
}

.bar {
  flex-grow: 1;
  width: 100%;
}

.chart-container canvas {
  display: inline-block;
}

.table-container {
  border: 1px solid;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-container th,
.table-container td {
  border: 1px solid;
  padding: 8px;
  text-align: left;
}

th.code {
  width: 5%;
}

th.message {
  width: 95%;
}

.list-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
}

.list-row {
  border: 0px solid white;
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

.list-item {
  display: inline;
  border: 1px solid white;
  box-sizing: border-box;
  padding: 5px 0px 5px 5px;
}

.web-dark .list-item,
.vscode-dark .list-message {
  color: white;
}

.web-light .list-item,
.vscode-light .list-message {
  color: black;
}

.list-link {
  flex: 0 0 5rem;
  cursor: pointer;
}

.list-message {
  flex: 1 1 content;
}

.tab {
  display: flex;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: var(--vscode-icon-foreground);
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: 10vh;
  padding-bottom: 0px;
  box-sizing: border-box;
}

.vscode-dark .tab button.active,
.web-dark .tab button.active {
  background-color: gray;
}

.vscode-light .tab button.active,
.web-light .tab button.active {
  background-color: #797979;
}

.empty-container {
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
}

.web-dark .empty-container {
  color: white;
}

.vscode-dark .tab,
.web-dark .tab {
  border: 1px solid #e2e2e2;
  background-color: black;
}

.vscode-light .tab,
.web-light .tab {
  border: 1px solid #000000;
  background-color: rgb(193, 193, 193);
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 0.5rem;
}

.tab p {
  margin: 0;
}

.tab button:hover {
  background-color: #ddd;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.vscode-light .text {
  color: black;
}

.vscode-dark .text,
.web-dark .text {
  color: white;
}

.vscode-dark .table-container h2,
.web-dark .table-container h2 {
  color: white;
}

.vscode-light .table-container h2 {
  color: black;
}

.vscode-light th,
.vscode-light td {
  color: black;
  border-color: black;
}

.vscode-dark th,
.vscode-dark td,
.web-dark th,
.web-dark td {
  color: white;
  border-color: white;
}

.tj_container * {
  position: relative;
  box-sizing: border-box;
}

.tj_container ul {
  padding-left: 2em;
  list-style-type: none;
}

.tj_container > ul:first-of-type {
  padding: 0;
}

.tj_container li span.tj_description {
  cursor: pointer;
  padding: 2px 5px;
  display: block;
  border-radius: 2px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: left;
}

.tj_container li span.tj_description:hover {
  background-color: #ccc;
}

.tj_container li span.tj_mod_icon,
.tj_container li span.tj_icon {
  margin-right: 0.5em;
  display: inline-block;
}

.tj_container li span.tj_mod_icon,
.tj_container li span.tj_mod_icon * {
  width: 1em;
}

.tj_container li span.tj_description.tj_leaf {
  margin-left: 1.5em;
}

.vscode-dark .tj_container li span.tj_description.tj_leaf.active,
.web-dark .tj_container li span.tj_description.tj_leaf.active {
  background-color: #828282;
}

.vscode-light .tj_container li span.tj_description.tj_leaf.active,
.web-light .tj_container li span.tj_description.tj_leaf.active {
  background-color: #373737;
}

.vscode-dark .tj_container li span.tj_description,
.web-dark .tj_container li span.tj_description {
  color: #ccc;
}

.vscode-light .tj_container li span.tj_description,
.web-light .tj_container li span.tj_description {
  color: #000000;
}

.tj_container li[disabled=""] {
  color: #b5b5b5;
}

.tj_container li[disabled=""]:hover span.tj_description {
  cursor: default;
  background-color: inherit;
}

.tj_container span.tj_description.selected {
  background-color: #828282;
  color: #fff;
}

.tj_container span.tj_description.selected:hover {
  background-color: #606060;
}
